* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background-color: #001f3f;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

body {
    background-color: #f4f4ff;
}

.links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

.links li {
    margin: 0;
}

.links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 12px;
    border-radius: 4px;
}

.links a:hover {
    background-color: #003300;
}




.logo img {
    height: 40px;
    width: auto;
}
.carousel-slide {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
.carousel-item img {
    max-width: 100%; /* Define um tamanho máximo */
    max-height: 500px; /* Define uma altura máxima */
    object-fit: cover; /* Ajusta a imagem sem distorcer */
    margin: auto; /* Centraliza a imagem */
    display: flex; /* Garante que a imagem não quebre o layout */
}



.container {
    display: flex;
    background-color: #004000;
    padding: 20px;
    margin: 20px auto;
    
}
.container a{
    text-decoration: none;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 12px;
    border-radius: 4px;
}

footer {
    color: white;
    background-color: #001f3f;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}