* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background-color: #001f3f;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

body {
    background-color: #f4f4ff;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0 0;
    margin: 20px 0;
    gap: 15px;
}

.nav-links {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-links li {
    justify-content: space-between;
    display: contents;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.nav-links li a:hover {
    background-color: #004000;
}

.logo img {
    height: 40px;
    width: auto;
}

.carousel-slide {
    max-width: 1000px;
    position: relative;
    margin: auto
}



.container {
    display: flex;
    background-color: #004000;
    padding: 20px;
    margin: 20px auto;
}

footer {
    color: white;
    background-color: #001f3f;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}